.App {
  text-align: center;
}

#mymeds-logo {
  padding: 20px 0 0 100px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 85px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.active {
  background: #80D8FF !important;
}

#tab-1,
#tab-2,
#tab-3 {
  display: inline-block;
  width: 210px;
  height: 35px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
